:root {
  --background-sidebar: #ffffff;
  --background-lists: #f3f4f6;
  --background-item: #ffffff;
  --hover: #e0f2fe;
  --border-active: #38bdf8;
  --background-active: #e0f2fe;
  --tertiary: #38bdf8;
  --tertiary-hover: #0ea5e9;
  --on-dark: #ffffff;
  --shadow-standard: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  --border-normal: #000000;
  --border-subtle: #d1d5db;
  --border-invalid: #ef4444;
  --text-subtle: #d1d5db;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter var', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.page-container {
  display: flex;
}

/* Button */
.button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 500px;
  font-size: 1rem;
}

.button__icon {
  font-size: 1.5em;
}

.button--primary {
  background-color: var(--tertiary);
  color: var(--on-dark);
}

.button--primary:hover {
  background-color: var(--tertiary-hover);
}

.button--tertiary {
  background-color: transparent;
}

.button--tertiary:hover {
  background-color: var(--hover);
}

.button--with-icon {
  display: flex;
  gap: 0.25em;
}

.button--icon-only {
  padding: 0;
  border-radius: 100%;
  font-size: 1.5em;
}

/* Dialog */
.dialog {
  margin: auto;
  border: none;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: var(--shadow-standard);
  width: min(80vw, 500px);
}

/* Input */
.input {
  border: none;
  font-size: 1rem;
  padding: 0.5rem;
}

.input:focus {
  outline: none;
}

.input--textarea {
  resize: none;
}

/* Form */
.form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  /* grid-auto-flow: column; */
  gap: 0.75em;
}

.form__header {
  grid-column: 1 / -1;
  margin-block-end: 10px;
}

.form__field {
  grid-template-columns: subgrid;
  display: grid;
  grid-column: 1 / -1;
  align-items: center;
}

.form__label {
  font-weight: bold;
}

.form__input {
  border-block-end: 2px solid var(--border-subtle);
}

.form__input:focus {
  border-block-end: 2px solid var(--border-active);
}

.form__input--invalid {
  border-block-end: 2px solid var(--border-invalid);
}


.form__actions {
  grid-column: 1 / -1;
  margin-block-start: 10px;
  margin-inline-start: auto;
  display: flex;
  gap: 10px;
}

/* Sidebar */
.sidebar {
  height: 100vh;
  max-width: 200px;
  background-color: var(--background-sidebar);
  position: sticky;
  top: 0;
  left: 0;
  flex-shrink: 0;
  box-shadow: var(--shadow-standard);
}

.sidebar__container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr min-content;
}

.sidebar__item {
  cursor: pointer;
  padding: 0.75rem 1rem;
}

.sidebar__item:hover {
  background-color: var(--hover);
}

.sidebar__item--active {
  background-color: var(--background-active);
  font-weight: bold;
}

.sidebar__actions {
  display: flex;
  padding: 1rem;
  gap: 5px;
}

.sidebar__actions:hover,
.sidebar__actions:focus-within {
  background-color: var(--hover);
}

.sidebar__input-add-list {
  width: 100%;
  font-size: 1.25rem;
}

.sidebar__actions:hover .sidebar__input-add-list,
.sidebar__actions:focus-within .sidebar__input-add-list {
  background-color: var(--hover);
}

/* List */
.list {
  width: 100%;
  min-height: 100vh;
}

.list__container {
  height: 100%;
  padding: 2rem;
  width: 100%;
  background-color: var(--background-lists);
}

.list__header {
  display: flex;
  align-items: center;
}

.list__button-add-item {
  font-size: 1.25rem;
  margin-inline-start: auto;
  display: flex;
  align-items: center;
}

.list__items-container {
  padding-block-start: 1rem;
  display: grid;
  gap: 10px;
}

.item__container {
  background-color: var(--background-item);
  border-radius: 10px;
  padding: 1rem;
  box-shadow: var(--shadow-standard);
  display: flex;
  align-items: center;
  gap: 0.75em;
}

.item__input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item__input:hover {
  outline: 1px solid var(--border-subtle);
}

.item__input:focus {
  outline: 1px solid var(--border-active);
}

.item__input--completed {
  text-decoration: line-through;
  color: var(--text-subtle);
}

.item__input--completed:focus {
  text-decoration: none;
  color: unset;
}

.item__actions-container {
  margin-inline-start: auto;
}

.item__button-star--starred {
  color: var(--tertiary);
}